__pycache__/
.vscode

# Настройки линтеров и инструментов разработки
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# React / Node
node_modules/
dist/
build/
.eslintcache
.stylelintcache
*.local
.pnpm-debug.log*

# Vite
.vite/