{% extends "base.html" %}

{% block content %}
    <div class="header-actions">
        <h1>Список сообщений</h1>
        <a href="/web/messages/create" class="btn btn-primary">+ Создать новое</a>
    </div>
    <div class="message-list">
        {% for msg in messages %}
            <div class="message-item">
                <p>{{ msg.content }}</p>
                <div class="message-actions">
                    <a href="/web/messages/{{ msg.id }}/edit" class="btn-secondary">Редактировать</a>
                    
                    <form action="/web/messages/{{ msg.id }}/delete" method="post" style="margin: 0;">
                        <button type="submit" class="btn-danger" onclick="return confirm('Удалить?')">
                            Удалить
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}